body > h1:nth-of-type(1) {
  cursor: pointer;
}

body {
  --title-bar-height: 42px;
  padding-top: var(--title-bar-height);
  background-color: #001601;
  font-family: monospace;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  height: 100vh;
  color: white;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#bar {
  background: rgba(55, 60, 72, 0.6);
  backdrop-filter: blur(64px);
  -webkit-app-region: drag;
  height: var(--title-bar-height);
  padding: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  white-space: nowrap;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
}

pear-ctrl[data-platform="darwin"] {
  margin-top: 18px;
  margin-left: 12px;
}

button,
input {
  all: unset;
  border: 1px ridge #b0d944;
  background: #000;
  color: #b0d944;
  padding: 0.45rem;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1rem;
}

.hidden {
  display: none !important;
}
#or {
  margin: 1.5rem auto;
}

#setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loading {
  align-self: center;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0.75rem;
}

#header {
  margin-top: 2.2rem;
  margin-bottom: 0.75rem;
}

#details {
  display: flex;
  justify-content: space-between;
}

#messages {
  flex: 1;
  font-family: "Courier New", Courier, monospace;
  overflow-y: scroll;
}

#message-form {
  display: flex;
}

#message {
  flex: 1;
}
